#container{
	position: absolute;
	left:0px;
	top:0px;
	z-index:1;
}
body{
	width:100%;
	height:100%;
	overflow:hidden;
}
#cubre-cuerpo{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	-moz-opacity:0.5; 
	filter:alpha(opacity=50); 
	opacity:0.5;
	background-color: #000000;
	display: none;
	z-index: 10000;
}
#cuadro-espere{
	position:absolute;
	width: 50%;
	height:50%;
	background-color: #ffffff;
	display:none;
	z-index: 10001;
	top: 25%;
	left:25%;
	opacity:0.9;
	-moz-border-radius:25px;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
	margin: 0 auto;
	text-align:center;
}

#cuadro-espere div{
	position:absolute;
}

#texto-espere {
	width:80%;
	left:10%;
	top:25%;
	height: 50%;
	text-align: left;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: tahoma, verdana;
	font-size: 32px;
	color: #000000;
}

#infolayer{
	z-index: 50;
}

#player_container{
	position:absolute;
	z-index: 1000;
	width:150px;
	height:30px; 
	right: 10%;;
	top: 20px;
	overflow:hidden;
}

#player_container audio{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:100%
}

.cuadrito {
	position:relative;
	display: inline-block;
	background-color: #ffffff;
	z-index: 100;
	opacity:0.9;
	-moz-border-radius:25px;
	border-radius:25px;
	-webkit-border-radius:25px;
	/*
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
	box-shadow: 0 0 50px #ccc;
	*/
	margin: 0 auto;
	text-align:center;
}

.cuadrito-menu{
	width: 20%;
	margin-left: 10%;
	height: 100%;
	cursor:pointer;
	overflow:hidden;
}

.cuadrito-menu[seleccionado='true']{
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
	box-shadow: 0 0 50px #ccc;
}

.cuadrito-menu img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.pantalla{
	position:absolute;
	left:101%;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	/*display:none; /* las hago aparecer vía scripting */
}

.titulo{
	position:absolute;
	left:0px;
	top: 0px;
	width:100%;
	height: 10%;
	font-size: 42px;
	color: #ffffff;
	padding-left: 10%;
	padding-top: 1%;
	font-family: Technique OL BRK;
}

.infoslider{
	position:absolute;
	left:0px;
	bottom: 18%;
	width:100%;
	height: 15%;
	font-size: 50px;
	color: #ffffff;
}
